.text-center {
  color: black;
  text-align: center;
}

.section-flex {
  display: flex;
  justify-content: space-between;
}

.section {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px rgb(230 230 230);
  border-radius: 3px;
  text-align: center;
  border: 1px solid rgb(230,230,230);
  width: 200px;
  padding: 20px;
}

.section img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.section h3 {
  font-family: Poppins;
}
.section p {
  opacity: .7;
  font-size: 15px;
}
